<h1><%= @post.title %></h1>
<h3>By <%= @post.author %> at <%= @post.updated_at %></h3>

<p><%= @post.content %></p>

<p><%= link_to "Edit this Post", edit_post_url %></p>
<p><%= link_to 'Delete Post', @post,
                :method => :delete %>
<p><%= link_to "Back to Home", posts_url %></p>

<h4>Comments</h4>

<% @comments.each do |comment| %>
  <p><%= comment.content %></p>
  <p>By <%= comment.author %> at <%= comment.updated_at %></p>
  <p><%= link_to "Edit", edit_post_comment_url(@post, comment) %></p>
<% end %>

<p><%= link_to "New Comment", new_post_comment_url(@post) %></p>
