<div class="header-detail">
  <h1><%= @post.title %></h1>
  <h3>By <%= @post.author %> at <%= @post.updated_at %></h3>
  <div class="post-options"><%= link_to "Edit this Post", edit_post_url %></div>
  <div class="post-options"><%= link_to 'Delete Post', @post,
                    :method => :delete %></div>
</div>

<div class="container">
  <div class="post"><%= @post.content %></div>

  <% @comments.each do |comment| %>
    <h4>Comments</h4>
    <p><%= comment.content %></p>
    <p>By <%= comment.author %> at <%= comment.updated_at %> <%= link_to "(Edit)", edit_post_comment_url(@post, comment) %></p>
  <% end %>

  <p>
    <div class="button">
      <span class="inner-button"><%= link_to "New Comment", new_post_comment_url(@post) %></p></span>
    </div>
</div>
